appdirs==1.4.3
beautifulsoup4==4.8.2
blis==0.4.1
certifi==2019.11.28
chardet==3.0.4
ChatterBot==1.0.5
chatterbot-corpus==1.2.0
console==0.990
cymem==2.0.3
distro==1.5.0
docopt==0.6.2
ezenv==0.91
idna==2.9
Js2Py==0.68
mathparse==0.1.2
murmurhash==1.0.2
nltk==3.4.5
numpy==1.18.2
packaging==20.3
Pint==0.11
pipwin==0.4.9
plac==1.1.3
preshed==3.0.2
PyAudio==0.2.11
pygubu==0.9.8.6
pyjsparser==2.7.1
pymongo==3.10.1
pyparsing==2.4.6
PyPrind==2.11.2
pySmartDL==1.3.3
python-dateutil==2.8.1
pytz==2019.3
PyYAML==5.3.1
requests==2.23.0
six==1.14.0
soupsieve==2.0
spacy==2.1.9
SpeechRecognition==3.8.1
SQLAlchemy==1.3.15
srsly==2.0.1
thinc==7.0.8
tqdm==4.45.0
tzlocal==2.0.0
urllib3==1.25.8
wasabi==0.6.0
