blis==0.2.4
certifi==2020.4.5.1
chardet==3.0.4
ChatterBot==1.0.5
chatterbot-corpus==1.2.0
cymem==2.0.3
dnspython==1.16.0
idna==2.9
mathparse==0.1.2
murmurhash==1.0.2
nltk==3.4.5
numpy==1.18.2
Pint==0.11
plac==0.9.6
preshed==2.0.1
PyAudio==0.2.11
pymongo==3.10.1
python-dateutil==2.7.5
pytz==2019.3
PyYAML==3.13
requests==2.23.0
six==1.14.0
spacy==2.1.9
SpeechRecognition==3.8.1
SQLAlchemy==1.2.19
srsly==1.0.2
thinc==7.0.8
tqdm==4.45.0
urllib3==1.25.8
wasabi==0.6.0
